<script>
    $(document).ready(function () {
        $.ajax({
            url: "/Projects/CallGitHubAPI",
            type: "GET",
            success: function (result) {
                $.each(result , function(index, b)
                {
                    console.log(b.name);
                    $('#project-name').append('<h3>' + b.name + '</h3>');
                }) 
            }

        }).error(function(){alert("shit don't work yo");});
    });

</script>

<div id="project-name">
    
</div>